body {
    background-color: --black;
}
#dropaudios {
    position: inline-block;
    height: 25px;
    width: 45px;
    border-radius: 200px;
    box-shadow: 4px 3px 5px black;
}
#dropaudios:hover li{
    animation: arrowhover 1s infinite;
}
@keyframes arrowhover {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
#list {
    visibility: hidden;
    transition: 0.4s;
}
#dropaudios:focus #list {
    visibility: visible;
}