#my_audio {
    opacity: 0.25;
    bottom: 0;
    position: fixed;
}
#my_audio:hover {
    opacity: 0.55;
}
.current-song {
    animation: pulse 1s infinite;
}
@keyframes pulse {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}