:root {
    --red: #e80d0d;
    --orange: #f98500;
    --yellow: #ffc600;
    --green: #10a503;
    --cyan: #0ed6a4;
    --blue: #0071b2;
    --purple: #6a00b2;
    --brown: #8c7a51;
    --grey: #53565A;
    --black: #272727;
}
@font-face {
    font-family: 'Neon80s';
    src: url('../assets/Fonts/Neon.ttf')
}
@font-face {
    font-family: 'ToyBlocks';
    src: url('../assets/Fonts/K26ToyBlocks123.ttf')   
}
@font-face {
    font-family: 'LL_REC0R';
    src: url('../assets/Fonts/LL_RECOR.TTF');
}
@font-face {
    font-family: 'PWNewArrows';
    src: url('../assets/Fonts/PWNewArrows.ttf')
}
@font-face {
    font-family: 'Fonte\_Brick';
    src: url('../assets/Fonts/FonteBrick.ttf')
}
@font-face {
    font-family: 'COCKTAIL';
    src: url('../assets/Fonts/COCKB___.TTF')
}
@font-face {
    font-family: 'sm';
    src: url('../assets/Fonts/Social\ Media\ Circled.otf')
}